<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Testing</servlet-name>
        <servlet-class>ru.loryPress.TestingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Testing</servlet-name>
        <url-pattern>/testing</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>primitive</servlet-name>
        <servlet-class>ru.loryPress.PrimitiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>primitive</servlet-name>
        <url-pattern>/primitive</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>config-demo</servlet-name>
        <servlet-class>ru.loryPress.ConfigDemoServlet</servlet-class>
        <init-param>
            <param-name>adminEmail</param-name>
            <param-value>admin@admin.com</param-value>
        </init-param>
        <init-param>
            <param-name>adminContactNumber</param-name>
            <param-value>044576657567</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>config-demo</servlet-name>
        <url-pattern>/config-demo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>context-demo</servlet-name>
        <servlet-class>ru.loryPress.ContextDemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>context-demo</servlet-name>
        <url-pattern>/context-demo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>write-context</servlet-name>
        <servlet-class>ru.loryPress.WriteContextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>write-context</servlet-name>
        <url-pattern>/write-context</url-pattern>
    </servlet-mapping>
</web-app>